{% extends 'SuperY/applicant_base.html' %}
{% load staticfiles %}
{% block title %}
职位列表
{% endblock title %}
{% block content %}
<div id="listContent" class="contentpile__content">
    <div class="contentpile__content__wrapper clearfix">
        {% for post in post_list %}
        <div class="contentpile_c_w_item clearfix">
            <a href="{% url 'SuperY:applicant_post_detail' user.id post.id %}">
                <div class="nameBox">
                    <div class="jobName">
                        <span class="contentpile_c_w_i_i_b_j_title">
                            <span style="color: #FF5959;"></span>
                            {{post.post_name}}
                        </span>
                        <span class="contentpile_c_w_i_i_b_j_sale" style="display: none;"></span>
                        <!---->
                    </div>
                    <div class="contentpile_c_w_i_i_b_cname">
                        {{post.company.company_name}}
                        <div class="job__comdec">
                            <span class="job__comdec__item">{{post.company.company_type}} |</span>
                            <span class="job__comdec__item">{{post.company.staff_number}} </span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="descBox">
                <div class="jobDesc">
                    <p>{{post.salary}}</p>
                    <ul class="job__demand">
                        <li>{{post.work_place}}</li>
                        <li>{{post.experience_require}}</li>
                        <li>{{post.graduate_require}}</li>
                    </ul>
                </div>
            </div>
            <div class="contentpile__content__wrapper__item__info__box itemBox">
                <div class="contentpile__content__wrapper__item__info__box__welfare job_welfare">
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item
                   contentpile__content__wrapper__eager-talents">职位特色
                    </div>
                    {% for tag in post.tag.all %}
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        {{tag.tag_name}}
                    </div>
                    {% endfor %}
                </div>
                <div class="jobBtn" name="deliver_btn" data-post-id={{post.id}}>申请职位</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class='pages'>
    {% if post_list.has_previous %}
        {% if page_name == 'applicant_search' %}
            <a href="{% url 'SuperY:applicant_search' user.id search_word post_list.previous_page_number %}">
        {% elif page_name == 'applicant_company_post' %}
            <a href="{% url 'SuperY:applicant_company_post' user.id company_id post_list.previous_page_number %}">
        {% endif %}
             <button>上页</button>
            </a>
    {% endif %}
    {% if post_list.has_next %}
         {% if page_name == 'applicant_search' %}
            <a href="{% url 'SuperY:applicant_search' user.id search_word post_list.next_page_number %}">
        {% elif page_name == 'applicant_company_post' %}
            <a href="{% url 'SuperY:applicant_company_post' user.id company_id post_list.next_page_number %}">
        {% endif %}
             <button>下页</button>
            </a>
    {% endif %}
</div>
</div>
</div>
<script src="{% static 'SuperY/js/jquery-3.2.1.min.js' %}"></script>
<script>
deliver_btn_list = document.querySelectorAll("div[name='deliver_btn']")
for (var i = 0; i < deliver_btn_list.length; i++) {
    let deliver_btn = deliver_btn_list[i]
    deliver_btn.onclick = function() {
        post_id = deliver_btn.getAttribute('data-post-id')
        console.log(post_id)
        $.ajax({
            type: 'post',
            url: '{% url "SuperY:deliver_post_ajax" user.id %}',
            data: { 'post_id': post_id },
            success: function(data) {
                data = JSON.parse(data)
                if (data.success) {
                    layer.alert(data.success, { icon: 6 });
                } else {
                    layer.alert(data.error, { icon: 5 });
                }
            }

        })
    };
};
</script>
{% endblock content %}