{% extends 'SuperY/applicant_base.html' %}
{% load staticfiles %}
{% block title %}
看过我的企业
{% endblock title %}
{% block content %}
    <div id="listContent" class="contentpile__content">
        <div class="contentpile__content__wrapper clearfix">
            {% for company in company_list %}
            <a href="{% url 'SuperY:applicant_company_post' user.id company.id 1 %}">
            <div class="contentpile_c_w_item clearfix">
                <div class="nameBox">
                    <div class="jobName">
                        <span class="contentpile_c_w_i_i_b_j_title">
                            <span style="color: #FF5959;"></span>
                            {{company.company_name}}
                        </span>
                    </div>
                    <div class="contentpile_c_w_i_i_b_cname">
                            {{company.register_datetime}}
                    </div>
                </div>
                <div class="descBox">
                    <div class="jobDesc">
                        <ul class="job__demand">
                            <li>{{company.company_type}}</li>
                            <li>{{company.staff_number}}</li>
                        </ul>
                    </div>
                </div>
                <div class="contentpile__content__wrapper__item__info__box itemBox">
                    <div class="contentpile__content__wrapper__item__info__box__welfare job_welfare">
                        <div class="contentpile__content__wrapper__item__info__box__welfare__item
                   contentpile__content__wrapper__eager-talents">求贤若渴
                        </div>
                        <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                            {{company.address}}
                        </div>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class='pages'>
    {% if company_list.has_previous %}
            <a href="{% url 'SuperY:applicant_company_post' user.id post_list.previous_page_number %}">
             <button>上页</button>
            </a>
    {% endif %}
    {% if post_list.has_next %}
            <a href="{% url 'SuperY:applicant_company_post' user.id post_list.next_page_number %}">
             <button>下页</button>
            </a>
    {% endif %}
</div>
    </div>
{% endblock content %}