{% extends 'SuperY/applicant_base.html' %}
{% load staticfiles %}
{% block title %}
求职者主页
{% endblock title %}
{% block content %}
	<div class='indexContent'>
		<div class="C_model clearfix">
			<div class="model_left">
				<ul class='clearfix'>
					{% for post in post_list %}
					<li>
						<a href="{% url 'SuperY:applicant_post_detail' user.id post.id %}" target="_blank">
							<h4>{{post.post_name}}</h4>
							<strong class='firstStrong'>{{post.work_place}}</strong>
							<strong>{{post.experience_require}}</strong>
							<strong>{{post.graduate_require}}</strong>
							<p>{{post.company.company_name}}</p>
							<span>{{post.company.company_type}}</span>
							<span>{{post.company.staff_number}}</span>
							<h4>{{post.salary}}</h4>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="model_right">
				<div class="userInfo clearfix">
					<img src="/media/applicant/head_pic/{{user.head_pic}}" >
					<h2>求职者用户:<span>{{user.person_name}}</span></h2>
					{% if resume.is_useful %}简历已完善可以投递{% else %}简历未完善不可投递{% endif %}
				</div>
				<ol class="clearfix">
					<li>
						<a href="{% url 'SuperY:applicant_company_look' user.id 1 %}"><span>{{resume.company_look.count}}</span>家
						<h4>企业看过</h4></a>
					</li>
					<li>
						<a href="{% url 'SuperY:applicant_deliver_post' user.id 1 %}"><span>{{resume.post_set.count}}</span>家
						<h4>我的投递</h4></a>
					</li>
				</ol>
				<ul class="clearfix">
					<li>
						<a href="{% url 'SuperY:person_info' 'applicant' user.id %}"><img src="{% static 'SuperY/images/top_resume_hover.gif' %}">
						<h4>个人中心</h4></a>
					</li>
					<li>
						<a href="{% url 'SuperY:applicant_resume' user.id %}"><img src="{% static 'SuperY/images/resume_hover.gif' %}">
						<h4>我的简历</h4></a>
					</li>
					<li>
						<a href="{% url 'SuperY:applicant_index' user.id %}"><img src="{% static 'SuperY/images/refresh_resume_hover.png' %}">
						<h4>刷新</h4></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}