<!DOCTYPE html>
{% load staticfiles %}
<html lang="cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>我的简历</title>
    <link rel="shortcut icon" type="image/png" href="https://common-bucket.zhaopin.cn/img/zhilian-ico/zhilian-ico-1.0.0.png">
    <link rel="stylesheet" href="{% static 'SuperY/css/vendors.dc6fff.css' %}">
    <link rel="stylesheet" href="{% static 'SuperY/css/resume.a13cfa.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'SuperY/css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'SuperY/css/main.css' %}">
</head>

<body>
    <div class='topNav'>
        <div class="topNav_c clearfix">
            <span>求职用户 {{user.person_name}}</span>
            <ul>
                <li data-user-id={{user.id}} name='phone_number'>{{user.phone_number}}</li>
                <li>
                    个人中心
                    <dl>
                        <a href="{% url 'SuperY:applicant_resume' user.id %}">
                            <dd>我的简历</dd>
                        </a>
                        <dd>账号信息</dd>
                        <dd>修改密码</dd>
                    </dl>
                </li>
                <a href="{% url 'SuperY:applicant_logout' user.id %}">
                    <li>注销</li>
                </a>
            </ul>
        </div>
    </div>
    <div id="root" class="zp">
        <div class="zp-main-center clearfix">
            <div class="zp-left-container">
                <div>
                    <div class="profile-pre jump-to" number="0">
                        <div class="profile-pre-wrapper"><img src="/media/resume/head_pic/{{user.id}}/{{resume.head_pic}}" class="profile-pre-head">
                            <p class="profile-pre-name clearfix"><span class="fl">{{resume.applicant_name}}</span> <span class="profile-pre-name__update-time">
                                    更新时间：{{resume.update_datetime}}</span></p>
                            <p class="profile-pre-info"><span class="profile-pre-info-txt">
                                    {{resume.sex}}
                                </span> <span class="profile-pre-info-txt">{{resume.age}}</span> <span class="profile-pre-info-txt">
                                    {{resume.birth_place}}</span> <span class="profile-pre-info-txt">{{resume.experience}}</span></p>
                            <p class="profile-pre-contact clearfix"><i class="iconfont icon-resume-phone fl profile-pre-contact-phone"></i> <span class="fl profile-pre-contact-phoneT">{{resume.phone_number}}</span> <i class="iconfont icon-resume-email fl profile-pre-contact-phone"></i> <span class="fl">{{resume.mail}}</span></p> <span class="profile-pre-edit"><span class="iconfont icon-resume-edit profile-pre-edit-resume"></span><a href="{% url 'SuperY:resume_info_modify' user.id %}">编辑</a></span>
                        </div>
                        <!---->
                    </div>
                    <div class="resume-wanna-wrapper jump-to" number="1">
                        <p class="wanna-title clearfix">
                            求职意向
                            <span class="wanna-edit fr"><i class="iconfont icon-resume-edit"></i> <a href="{% url 'SuperY:resume_hope_modify' user.id %}">编辑</a>
                            </span></p>
                        <div class="wanna-pre-wrapper clearfix">
                            <div class="clearfix">
                                <div class="wanna-pre-item fl"><label class="fl">求职状态:</label>
                                    <p>{{resume.apply_status}}</p>
                                </div>
                                <div class="wanna-pre-item fl"><label class="fl">期望工作地点:</label>
                                    <p>
                                        {{resume.work_place}}
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="wanna-pre-item fl clearfix"><label class="fl">期望从事行业:</label>
                                    <p>
                                        {{resume.profession}}
                                    </p>
                                </div>
                                <div class="wanna-pre-item fl clearfix"><label class="fl">期望从事职业:</label>
                                    <p>
                                        {{resume.post_name}}
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="wanna-pre-item fl"><label class="fl">税前期望月薪:</label>
                                    <p>
                                        {{resume.salary}}
                                    </p>
                                </div>
                                <div class="wanna-pre-item fl"><label class="fl">期望工作性质:</label>
                                    <p>{{resume.work_nature}}</p>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                    <div class="resume-job-exp-wrapper jump-to" number="2">
                        <p class="job-exp-title clearfix">
                            工作经验
                            <span onselectstart="return false;" class="job-exp-add fr"><i class="iconfont icon-resume-add"></i> <a href="{% url 'SuperY:work_experience' user.id %}">添加工作经验</a>
                            </span></p>
                        <div onselectstart="return false;" class="job-exp-add-null" style="display: none;"><i class="iconfont icon-resume-add"></i> 添加工作经验
                        </div>
                        <!---->
                        <div class="job-exp-pre-wrapper">
                          {% for work_experience in resume.workexperience_set.all %}
                            <div class="job-exp-pre-item">
                                <p class="job-exp-pre-item-title"><span>{{work_experience.company_name}}</span> <span class="job-exp-pre-item-time fr">{{work_experience.start_date}}-{{work_experience.end_date}}</span> <span class="job-exp-pre-item-edit fr"><i class="iconfont icon-resume-edit"></i> 编辑
                                    </span></p>
                                <p class="job-exp-pre-item-salary"><span class="fl">{{work_experience.post_name}}</span>{{work_experience.salary}}
                                </p>
                                <div class="job-exp-pre-item-detail">
                                    <pre>{{work_experience.work_detail}}</pre>
                                </div>
                                <!---->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="resume-project-exp-wrapper jump-to" number="3">
                        <p class="project-exp-title clearfix">
                            项目经验
                            <span onselectstart="return false;" class="project-exp-add fr"><i class="iconfont icon-resume-add"></i> 添加项目经验
                            </span></p>
                        <div onselectstart="return false;" class="project-exp-add-null" style="display: none;"><i class="iconfont icon-resume-add"></i> 添加项目经验
                        </div>
                        <!---->
                        {% for project_experience in resume.projectexperience_set.all %}
                        <div class="project-exp-pre-wrapper">
                            <div class="project-exp-pre-item">
                                <p class="project-exp-pre-item-title"><span>{{project_experience.project_name}}</span> <span class="project-exp-pre-item-time fr">{{project_experience.start_date}}-{{project_experience.end_date}}</span> <span class="project-exp-pre-item-edit fr"><i class="iconfont icon-resume-edit"></i> 编辑
                                    </span></p>
                                <p class="project-exp-pre-item-salary">
                                    项目描述
                                </p>
                                <div class="project-exp-pre-item-detail">
                                    <pre>{{project_experience.project_detail}}</pre>
                                </div>
                                <!---->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                   <div class="resume-job-exp-wrapper jump-to" number="2">
                        <p class="job-exp-title clearfix">
                            教育经历
                            <span onselectstart="return false;" class="job-exp-add fr"><i class="iconfont icon-resume-add"></i> 添加教育经历
                            </span></p>
                        <div onselectstart="return false;" class="job-exp-add-null" style="display: none;"><i class="iconfont icon-resume-add"></i> 添加教育经历
                        </div>
                        <!---->
                        <div class="job-exp-pre-wrapper">
                          {% for educate_experience in resume.educateexperience_set.all %}
                            <div class="job-exp-pre-item">
                                <p class="job-exp-pre-item-title"><span> {{educate_experience.school_name}}</span> <span class="job-exp-pre-item-time fr">{{educate_experience.start_date}}-{{educate_experience.end_date}}</span> <span class="job-exp-pre-item-edit fr"><i class="iconfont icon-resume-edit"></i> 编辑
                                    </span></p>
                                <p class="job-exp-pre-item-salary"><span class="fl"> {{educate_experience.profession}}</span>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="resume-job-exp-wrapper jump-to" number="2">
                        <p class="job-exp-title clearfix">
                            专业技能
                            <span onselectstart="return false;" class="job-exp-add fr"><i class="iconfont icon-resume-add"></i> 添加专业技能
                            </span></p>
                        <div onselectstart="return false;" class="job-exp-add-null" style="display: none;"><i class="iconfont icon-resume-add"></i> 添加专业技能
                        </div>
                        <!---->
                        <div class="job-exp-pre-wrapper">
                           {% for skill in resume.skill_set.all %}
                            <div class="job-exp-pre-item">
                                <p class="job-exp-pre-item-title"><span>  {{skill.skill_name}}</span><span class="job-exp-pre-item-edit fr"><i class="iconfont icon-resume-edit"></i> 编辑
                                    </span></p>
                               <p class="job-exp-pre-item-salary"><span class="fl">{{skill.level}}</span>{{skill.use_time}}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="zp-evalution jump-to" module-num="9" number="9">
                        <div class="zp-evalution-title clearfix"><span class="fl">自我评价</span> <span onselectstart="return false" class="iconfont icon-resume-edit fr">编辑</span></div>
                        <div class="zp-evalution-content">
                            <pre>{{resume.self_judge}}
</pre>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>