{% extends 'SuperY/applicant_base.html' %}
{% load staticfiles %}
{% block title %}
投递的职位
{% endblock title %}
{% block content %}
<div id="listContent" class="contentpile__content">
    <div class="contentpile__content__wrapper clearfix">
        {% for post in post_list %}
        <div class="contentpile_c_w_item clearfix">
            <a href="{% url 'SuperY:applicant_post_detail' user.id post.id %}">
                <div class="nameBox">
                    <div class="jobName">
                        <span class="contentpile_c_w_i_i_b_j_title">
                            <span style="color: #FF5959;"></span>
                            {{post.post_name}}
                        </span>
                        <span class="contentpile_c_w_i_i_b_j_sale" style="display: none;"></span>
                        <!---->
                    </div>
                    <div class="contentpile_c_w_i_i_b_cname">
                        {{post.company.company_name}}
                        <div class="job__comdec">
                            <span class="job__comdec__item">{{post.company.company_type}} |</span>
                            <span class="job__comdec__item">{{post.company.staff_number}} </span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="descBox">
                <div class="jobDesc">
                    <p>{{post.salary}}</p>
                    <ul class="job__demand">
                        <li>{{post.work_place}}</li>
                        <li>{{post.experience_require}}</li>
                        <li>{{post.graduate_require}}</li>
                    </ul>
                </div>
            </div>
            <div class="contentpile__content__wrapper__item__info__box itemBox">
                <div class="contentpile__content__wrapper__item__info__box__welfare job_welfare">
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item
                   contentpile__content__wrapper__eager-talents">职位特色
                    </div>
                    {% for tag in post.tag.all %}
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        {{tag.tag_name}}
                    </div>
                    {% endfor %}
                </div>
                <div class="delBtn" name="cancle_deliver_btn" data-post-id={{post.id}}>取消申请</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class='pages'>
    {% if post_list.has_previous %}
    <a href="{% url 'SuperY:applicant_deliver_post' user.id post_list.previous_page_number %}">
        <button>上页</button>
    </a>
    {% endif %}
    {% if post_list.has_next %}
    <a href="{% url 'SuperY:applicant_deliver_post' user.id post_list.next_page_number %}">
        <button>下页</button>
    </a>
    {% endif %}
</div>
</div>
</div>
<script src="{% static 'SuperY/js/jquery-3.2.1.min.js' %}"></script>
<script>
cancle_deliver_btn_list = document.querySelectorAll("div[name='cancle_deliver_btn']")
for (var i = 0; i < cancle_deliver_btn_list.length; i++) {
    let cancle_deliver_btn = cancle_deliver_btn_list[i]
    cancle_deliver_btn.onclick = function() {
        layer.confirm("确认要取消投递吗？", { btn: ['确定', '取消'] }, function() {
            post_id = cancle_deliver_btn.getAttribute('data-post-id')
            $.ajax({
                type: 'post',
                url: '{% url "SuperY:cancle_deliver_post_ajax" user.id %}',
                data: { 'post_id': post_id },
                success: function() {
                    window.location.reload();
                }

            })
        })

    };
};
</script>
{% endblock content %}