<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf8">
    <title>
        {% block title %}
        {% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'SuperY/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'SuperY/css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'SuperY/css/positionInfo.css' %}">
    <link rel="stylesheet" href="{% static 'SuperY/css/resume.a13cfa.css' %}">
    <link rel="stylesheet" href="{% static 'SuperY/css/resume.css' %}">
    <link rel="stylesheet" href="{% static 'SuperY/css/vendors.css' %}">
    <link rel="stylesheet" href="{% static 'SuperY/css/vendors.dc6fff.css' %}">
    <link rel="stylesheet" href="{% static 'SuperY/css/main.css' %}">
</head>

<body>
    <div class='topNav'>
        <div class="topNav_c clearfix">
            <span>企业用户 {{user.person_name}}</span>
            <ul>
                <li>{{user.phone_number}}</li>
                <li>
                    {{user.company_name}}
                    <dl>
                        <dd><a href="{% url 'SuperY:person_info' 'company' user.id %}">用户信息</a></dd>
                        <dd><a href="{% url 'SuperY:company_info' user.id %}">企业信息</a></dd>
                        <dd><a href="{% url 'SuperY:company_post' user.id 1 %}">企业职位</a></dd>
                        <dd><a href="{% url 'SuperY:company_post_add' user.id %}">创建职位</a></dd>
                        <dd><a href="{% url 'SuperY:passwd_change' 'company' user.id %}">修改密码</a></dd>
                    </dl>
                </li>
                <a href="{% url 'SuperY:logout' 'company' user.id %}">
                    <li>注销</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="top indexTop">
        <div class="logoTell indexSearch">
            <a href="{% url 'SuperY:company_index' user.id %}">
                <img src="{% static 'SuperY/images/logo.PNG' %}">
            </a>
            <div class="tell search">
            	{% csrf_token %}
                <input type="text" name="search_word" placeholder="请您输入关键词，求职者职位/技能/工作地点，20个字符以内"><button name="search_btn">搜索</button>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <div class="bottom">版权所有：超级无敌洋帅帅</div>
    <script src="{% static 'SuperY/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'SuperY/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'SuperY/layer/layer.js' %}"></script>
    <script>
     function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie("csrftoken"));
            }
        }
    });
    document.querySelector('[name="search_btn"]').onclick = function() {
        var search_word = document.querySelector('[name="search_word"]').value;
        var is_search = true;
        if (!search_word || search_word.length > 20) {
            is_search = false;
            alert('请输入正确格式的关键词')
        }
        if (is_search) {
            $.ajax({
                type: 'post',
                url: '{% url "SuperY:search_ajax" "company" user.id %}',
                data: { 'search_word': search_word },
                success: function(data) {
                    url = JSON.parse(data).url
                    window.open(url)
                }
            })
        }
    };
    </script>
</body>

</html>