{% extends 'SuperY/company_base.html' %}
{% load staticfiles %}
{% block title %}
职位详情
{% endblock title %}
{% block content %}
<div id="listContent" class="contentpile__content a-center-layout__content">
    <div class="job-summary">
        <div class="summary-plane">
            <div class="summary-plane__content">
                <!---->
                <div class="summary-plane__top"></div>
                <h3 class="summary-plane__title" data-post-id={{post.id}}>{{post.post_name}}</h3>
                <div class="summary-plane__bottom">
                    <div class="summary-plane__left">
                        <span class="summary-plane__salary">{{post.salary}}</span>
                        <ul class="summary-plane__info">
                            <li>
                                {{post.work_place}}
                            </li>
                            <li>{{post.experience_require}}</li>
                            <li>{{post.graduate_require}}</li>
                            <li>{{post.recruit_number}}</li>
                        </ul>
                    </div>
                    <div class="summary-plane__right">
                        <div class="a-job-apply-button summary-plane__action">
                           <a href="{% url 'SuperY:company_post_modify' post.id user.id %}"><button type="button" class="a-button a--bordered a--filled" name="modify_btn">编辑</button></a> 
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contentpile__content__wrapper app">
        <div class="app-main__left">
            <div class="job-detail">
                <div class="highlights">
                    <h2 class="highlights__title">职位亮点</h2>
                    <div class="highlights__content">
                        {% for tag in post.tag.all %}
                        <span class="highlights__content-item">{{tag.tag_name}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="describtion">
                    <h2 class="describtion__title">职位描述</h2>
                    <div class="describtion__detail-content">
                        {{post.post_info}}
                    </div>
                </div>
                <div class="job-address">
                    <h2 class="job-address__title">公司地点</h2>
                    <div class="job-address__content">
                        <span class="job-address__content-text">
                            <i class="iconfont icon-locate"></i>
                            {{post.company.address}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main__right">
            <div class="publisher">
                <div class="manager">
                    <h2 class="manager__title">职位发布者</h2>
                    <div class="manager__detail">
                        <h3 class="manager__detail-name">{{post.company.person_name}}</h3>
                        <span class="manager__detail-label">已认证</span>
                        <span class="manager__detail-label">{{post.company.register_datetime}}</span>
                    </div>
                </div>
                <div class="company">
                    <img src="/media/company/business_licence/{{post.company.business_licence}}" class="company__avatar">
                    <span class="company__title">{{post.company.company_name}}</span>
                    <div class="company__detail">
                        <button class="company__industry">
                            <i class="iconfont icon-industry"></i>{{post.company.company_type}}
                        </button>
                        <button class="company__size">
                            <i class="company__size-icon"></i>{{post.company.staff_number}}
                        </button>
                    </div>
                    <div class="company__description">
                        {{post.company.company_info}}
                    </div>
                    <a href="{% url 'SuperY:applicant_company_post' user.id post.company.id 1 %}" class="company__page-site">该公司其他职位</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}