<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>简历列表</title>
    <link rel="stylesheet" href="{% static 'SuperY/css/main.css' %}">
</head>
<body>
    <div class='topNav'>
        <div class="topNav_c clearfix">
            <span>企业用户  {{user.person_name}}</span>
            <ul>
                <li>{{user.phone_number}}</li>
                <li>
                    {{user.company_name}}
                    <dl>
                        <dd>企业职位</dd>
                        <dd>企业信息</dd>
                        <dd>修改密码</dd>
                    </dl>
                </li>
                <a href="{% url 'SuperY:company_logout' user.id %}"><li>注销</li></a>
            </ul>
        </div>
    </div>    
<div id="listContent" class="contentpile__content">
    <div class="contentpile__content__wrapper clearfix">
    	{% for resume in resume_list %}
        <div class="contentpile_c_w_item clearfix">
            <div class="nameBox">
                <div class="jobName">
                         <span class="contentpile_c_w_i_i_b_j_title">
                             <span style="color: #FF5959;"></span>
                             <a href="{% url 'SuperY:company_resume_detail' user.id resume.id %}">{{resume.post_name}}</a>
                         </span>
                    <span class="contentpile_c_w_i_i_b_j_sale" style="display: none;"></span> <!---->
                </div>
                <div class="contentpile_c_w_i_i_b_cname">
                    <a href="#" target="_blank">
                        {{post.company.company_name}}
                    </a>
                    <div class="job__comdec">
                        <span class="job__comdec__item">{{resume.applicant_name}} |</span>
                        <span class="job__comdec__item">{{resume.phone_number}} </span>
                    </div>
                </div>
            </div>
            <div class="descBox">
                <div class="jobDesc">
                    <ul class="job__demand">
                        <li>{{resume.work_place}}</li>
                        <li>{{resume.experience}}</li>
                        <li>{{resume.graduate}}</li>
                    </ul>
                </div>
            </div>
            <div class="contentpile__content__wrapper__item__info__box itemBox">
                <div class="contentpile__content__wrapper__item__info__box__welfare job_welfare">
                    {% for skill in resume.skill_set.all %}
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        {{skill.skill_name}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--</a> -->
            <span class="zp-icon icon-job_checked-pile icon-job_isNotChecked"
                  style="display: none;"></span>
            <div class="contentpile__content__wrapper__item__jobbtn" style="display: none;">
                <div class="zp-jobBtn contentpile__content__wrapper__item__jobbtn__collect"><span
                        class="zp-icon icon-job_collectStar"></span> <span>收藏</span></div>
                <div class="a-job-apply-button contentpile__apply-button">
                    <button type="button" class="a-button a--bordered a--filled">申请职位
                    </button><!----></div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
<div class="bottom">我是底部</div>

</body>
</html>