{% extends 'SuperY/company_base.html' %}
{% load staticfiles %}
{% block title %}
职位列表
{% endblock title %}
{% block content %}   
<div id="listContent" class="contentpile__content">
    <div class="contentpile__content__wrapper clearfix">
    	{% for post in post_list %}
        <a href="{% url 'SuperY:company_post_modify' user.id post.id %}">
        <div class="contentpile_c_w_item clearfix">
            <div class="nameBox">
                <div class="jobName">
                         <span class="contentpile_c_w_i_i_b_j_title">
                             <span style="color: #FF5959;"></span>
                             {{post.post_name}}
                         </span>
                    <span class="contentpile_c_w_i_i_b_j_sale" style="display: none;"></span> <!---->
                </div>
                <div class="contentpile_c_w_i_i_b_cname">
                    <a href="#" target="_blank">
                        {{post.company.company_name}}
                    </a>
                    <div class="job__comdec">
                        <span class="job__comdec__item">{{post.company.company_type}} |</span>
                        <span class="job__comdec__item">{{post.company.staff_number}} </span>
                    </div>
                </div>
            </div>
            <div class="descBox">
                <div class="jobDesc">
                    <p>{{post.salary}}</p>
                    <ul class="job__demand">
                        <li>{{post.work_place}}</li>
                        <li>{{post.experience_require}}</li>
                        <li>{{post.graduate_require}}</li>
                    </ul>
                </div>
            </div>
            <div class="contentpile__content__wrapper__item__info__box itemBox">
                <div class="contentpile__content__wrapper__item__info__box__welfare job_welfare">
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item
                   contentpile__content__wrapper__eager-talents">职位特色
                    </div>
                    {% for tag in post.tag.all %}
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        {{tag.tag_name}}
                    </div>
                    {% endfor %}
                </div>
                <div class="delBtn" name="del_btn" data-post-id={{post.id}}>删除职位</div>
            </div>     
        </div>
        </a>
        {% endfor %}
        </div>
    </div>
    <div class='pages'>
    {% if post_list.has_previous %}
    <a href="{% url 'SuperY:company_post' user.id post_list.previous_page_number %}">
        <button>上页</button>
    </a>
    {% endif %}
    {% if post_list.has_next %}
    <a href="{% url 'SuperY:company_post' user.id post_list.next_page_number %}">
        <button>下页</button>
    </a>
    {% endif %}
</div>
<script>
del_btn_list = document.querySelectorAll("div[name='del_btn']")
for (var i = 0; i < del_btn_list.length; i++) {
    let del_btn = del_btn_list[i]
    del_btn.onclick = function() {
        post_id = del_btn.getAttribute('data-post-id')
        console.log(post_id)
        $.ajax({
            type: 'post',
            url: '{% url "SuperY:del_ajax" "company" user.id %}',
            data: { 'id': post_id,'model_name':'Post' },
            success: function(data) {
                data = JSON.parse(data)
                layer.alert(data.success, { icon: 6 ,yes:function() {
                    window.location.reload()
                }});
            }

        })
    };
};
</script>
{% endblock content %}