{% extends 'SuperY/company_base.html' %}
{% load staticfiles %}
{% block title %}
企业主页
{% endblock title %}
{% block content %}
	<div class='indexContent'>
		<div class="C_model clearfix">
			<div class="model_left">
				<ul class='clearfix'>
					{% for resume in resume_list %}
					<li>
						<a href="{% url 'SuperY:company_resume_detail' user.id resume.id %}" target="_blank">
							<h4>{{resume.post_name}}</h4>
							<strong>{{resume.work_place}}</strong>
							<strong>{{resume.experience}}</strong>
							<strong>{{resume.graduate}}</strong>
							<p>{{resume.applicant_name}}</p>
							<span>{{resume.phone_number}}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="model_right">
				<div class="userInfo clearfix">
					<img src="/media/company/head_pic/{{user.head_pic}}" >
					<h2>Hi，<span>{{user.person_name}}</span></h2>
					欢迎回来！
				</div>
				<ol class="clearfix">
					<li>
						<a href="{% url 'SuperY:company_company_look' user.id 1 %}"><span>{{resume_number}}</span>条
						<h4>我看过的</h4></a>
					</li>
					<li>
						<a href="{% url 'SuperY:company_receive_resume' user.id 1 %}"><span>{{receive_resume}}</span>条
						<h4>收到的简历</h4></a>
					</li>
				</ol>
				<ul class="clearfix">
					<li>
						<img src="{% static 'SuperY/images/top_resume_hover.gif' %}">
						<h4>企业信息</h4>
					</li>
					<li>
						<img src="{% static 'SuperY/images/resume_hover.gif' %}">
						<h4>公司职位</h4>
					</li>
					<li>
						<a href="{% url 'SuperY:company_index' user.id %}"><img src="{% static 'SuperY/images/refresh_resume_hover.png' %}">
						<h4>刷新</h4></a>
					</li>
				</ul>
				<dl class="hotNews">
					<dt>职场热点</dt>
					<dd>离职，是检验企业的最好标准</dd>
					<dd>选择做销售这个职业，你后悔了吗？</dd>
					<dd>新型雇佣关系</dd>
				</dl>
			</div>
		</div>
	</div>
	{% endblock content %}