{% extends 'SuperY/applicant_base.html' %}
{% load staticfiles %}
{% block title %}
教育经历
{% endblock title %}
{% block content %}
<div class="center" data-experience-id={{experience.id}}>
	<div class='login_form register_form info_form'>
		<h4>学校名称 <span name="school_name_info"></span></h4>
		<input type='text' name="school_name" placeholder="请输入学校名称" value="{{experience.school_name}}">
		<h4 class='tate-owned'>专业 <span name="profession_info"></span></h4>
		<input type='text' name="profession" placeholder="请输入专业" value='{{experience.profession}}'>
		<h4>学历 <span name="record_info"></span></h4>
		<input name="record" placeholder="请输入学历，如本科、硕士" type="text" value='{{experience.record}}'>
		<h4>开始时间 <span name="start_date_info"></span></h4>
		<input name="start_date" placeholder="请输入开始时间，如2018-8-8" type="text" value="{{experience.start_date}}">
		<h4>结束时间 <span name="end_date_info"></span></h4>
		<input name="end_date" placeholder="请输入结束时间，如2018-8-8" type="text" value="{{experience.end_date}}">
		<button name='save_btn'>保存</button>
	</div>
</div>
<div class="bottom">我是底部</div>
	<script src="{% static 'SuperY/js/jquery-3.2.1.min.js' %}"></script>
	<script>
		document.querySelector('[name="save_btn"]').onclick=function() {
		var school_name=document.querySelector('[name="school_name"]').value;
		var profession=document.querySelector('[name="profession"]').value;
		var record=document.querySelector('[name="record"]').value;
		var start_date=document.querySelector('[name="start_date"]').value;
		var end_date=document.querySelector('[name="end_date"]').value;
		var school_name_info=document.querySelector('[name="school_name_info"]');
		var profession_info=document.querySelector('[name="profession_info"]');
		var record_info=document.querySelector('[name="record_info"]');
		var start_date_info=document.querySelector('[name="start_date_info"]');
		var end_date_info=document.querySelector('[name="end_date_info"]');
		var is_post=true;
		school_name_info.innerHTML='';
		profession_info.innerHTML='';
		record_info.innerHTML='';
		start_date_info.innerHTML='';
		end_date_info.innerHTML='';
		if (!school_name || school_name.length>20) {
			is_post=false;
			school_name_info.innerHTML="请您填写正确格式的学校名称";
		};
		if (!profession || profession.length>20) {
			is_post=false;
			profession_info.innerHTML="请您填写正确格式的专业";
		};
		if (!record || record.length>10) {
			is_post=false;
			record_info.innerHTML="请您填写正确格式的学历";
		};
		if (!start_date || start_date.length>30) {
			is_post=false;
			start_date_info.innerHTML="请您填写正确格式的开始时间";
		};
		if (!end_date || end_date.length>30) {
			is_post=false;
			end_date_info.innerHTML="请您填写正确格式的结束时间";
		};
		var experience_id=document.querySelector('div[class="center"]').getAttribute('data-experience-id');
		if (is_post){
			var formData=new FormData();
			formData.append('school_name',school_name);
			formData.append('profession',profession);
			formData.append('record',record);
			formData.append('start_date',start_date);
			formData.append('end_date',end_date);
			formData.append('experience_id',experience_id);
			formData.append('experience_name','EducateExperience');
			$.ajax({
				type:'post',
				url:'{% url "SuperY:experience_ajax" user.id %}',
				data:formData,
				processData:false,
                contentType:false,
				success:function() {
						window.location.replace('{% url "SuperY:applicant_resume" user.id %}');
				}
			}) 
		}
	};
	</script>
{% endblock content %}