<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>工作经历</title>
	<link rel="stylesheet" href="{% static 'SuperY/css/main.css' %}">
</head>
<body>
		 <div class='topNav'>
        <div class="topNav_c clearfix">
            <span>求职用户 {{user.person_name}}</span>
            <ul>
                <li data-user-id={{user.id}} name='applicant_phone_number'>{{user.phone_number}}</li>
                <li>
                    个人中心
                    <dl>
                        <a href="{% url 'SuperY:applicant_resume' user.id %}">
                            <dd>我的简历</dd>
                        </a>
                        <dd>账号信息</dd>
                        <dd>修改密码</dd>
                    </dl>
                </li>
                <a href="{% url 'SuperY:applicant_logout' user.id %}">
                    <li>注销</li>
                </a>
            </ul>
        </div>
    </div>
<div class="center" data-experience-id={{experience.id}}>
	<div class='login_form register_form'>
		<h4>项目名称 <span name="project_name_info"></span></h4>
		<input type='text' name="project_name" placeholder="请输入项目名称" value="{{experience.project_name}}">
		<h4 class='tate-owned'>项目描述 <span name="project_detail_info"></span></h4>
		<input type='text' name="project_detail" placeholder="请输入项目描述" value='{{experience.project_detail}}'>
		<h4>开始时间 <span name="start_date_info"></span></h4>
		<input name="start_date" placeholder="请输入开始时间" type="text" value='{{experience.start_date}}'>
		<h4>结束时间 <span name="end_date_info"></span></h4>
		<input name="end_date" placeholder="请输入结束时间" type="text" value="{{experience.end_date}}">
		<button name='save_btn'>保存</button>
	</div>
</div>
<div class="bottom">我是底部</div>
	<script src="{% static 'SuperY/js/jquery-3.2.1.min.js' %}"></script>
	<script>
		document.querySelector('[name="save_btn"]').onclick=function() {
		var project_name=document.querySelector('[name="project_name"]').value;
		var project_detail=document.querySelector('[name="project_detail"]').value;
		var start_date=document.querySelector('[name="start_date"]').value;
		var end_date=document.querySelector('[name="end_date"]').value;
		var project_name_info=document.querySelector('[name="project_name_info"]');
		var project_detail_info=document.querySelector('[name="project_detail_info"]');
		var start_date_info=document.querySelector('[name="start_date_info"]');
		var end_date_info=document.querySelector('[name="end_date_info"]');
		var is_post=true;
		project_name_info.innerHTML='';
		project_detail_info.innerHTML='';
		start_date_info.innerHTML='';
		end_date_info.innerHTML='';
		if (!project_name) {
			is_post=false;
			project_name_info.innerHTML="请您填写正确格式的公司名";
		};
		if (!project_detail) {
			is_post=false;
			project_detail_info.innerHTML="请您填写正确格式的职位名";
		};
		if (!start_date) {
			is_post=false;
			start_date_info.innerHTML="请您填写正确格式的薪资";
		};
		if (!end_date) {
			is_post=false;
			end_date_info.innerHTML="请您填写正确格式的开始时间";
		};
		var experience_id=document.querySelector('div[class="center"]').getAttribute('data-experience-id');
		if (is_post){
			var formData=new FormData();
			formData.append('project_name',project_name);
			formData.append('project_detail',project_detail);
			formData.append('start_date',start_date);
			formData.append('end_date',end_date);
			var user_id=document.querySelector('[name="applicant_phone_number"]').getAttribute('data-user-id');
			formData.append('user_id',user_id);
			formData.append('experience_id',experience_id);
			formData.append('experience_name','ProjectExperience');
			$.ajax({
				type:'post',
				url:'{% url "SuperY:experience_ajax" %}',
				data:formData,
				processData:false,
                contentType:false,
				success:function() {
						window.location.replace('{% url "SuperY:applicant_resume" user.id %}');
				}
			}) 
		}
	};
	</script>
</body>
</html>
