{% extends 'SuperY/applicant_base.html' %}
{% load staticfiles %}
{% block title %}
职位期望
{% endblock title %}
{% block content %}
<div class="center">
	<div class='login_form register_form info_form'>
		<h4>求职状态 <span name="apply_status_info"></span></h4>
		<input type="radio" name="apply_status" value='在职' class='applicant' {% if resume.apply_status == '在职' %}checked="checked"{% endif %}>在职
		<input type="radio" name="apply_status" value='离职'class='bossRadio' {% if resume.apply_status == '离职' %}checked="checked"{% endif %}>离职
		<h4>期望从事行业 <span name="profession_info"></span></h4>
		<input type='text' name="profession" placeholder="请输入期望从事行业" value="{{resume.profession}}">
		<h4 class='tate-owned'>期望工作地点 <span name="work_place_info"></span></h4>
		<input type='text' name="work_place" placeholder="请输入期望工作地点" value='{{resume.work_place}}'>
		<h4>期望职位 <span name="post_name_info"></span></h4>
		<input name="post_name" placeholder="请输入期望职位" type="text" value='{{resume.post_name}}'>
		<h4>期望薪资 <span name="salary_info"></span></h4>
		<input name="salary" placeholder="请输入期望薪资,如15000元/月" type="text" value="{{resume.salary}}">
		<h4>工作性质 <span name="work_nature_info"></span></h4>
		<input type="radio" name="work_nature" value='全职' class='applicant' {% if resume.work_nature == '全职' %}checked="checked"{% endif %}>全职
		<input type="radio" name="work_nature" value='兼职' class='bossRadio'  {% if resume.work_nature == '兼职' %}checked="checked"{% endif %}>兼职
		<button name='save_btn'>保存</button>
	</div>
</div>
	<script src="{% static 'SuperY/js/jquery-3.2.1.min.js' %}"></script>
	<script>
		document.querySelector('[name="save_btn"]').onclick=function() {
		var apply_status=document.querySelector('[name="apply_status"]:checked');
		var profession=document.querySelector('[name="profession"]').value;
		var work_place=document.querySelector('[name="work_place"]').value;
		var post_name=document.querySelector('[name="post_name"]').value;
		var salary=document.querySelector('[name="salary"]').value;
		var work_nature=document.querySelector('[name="work_nature"]:checked');
		var apply_status_info=document.querySelector('[name="apply_status_info"]');
		var profession_info=document.querySelector('[name="profession_info"]');
		var work_place_info=document.querySelector('[name="work_place_info"]');
		var post_name_info=document.querySelector('[name="post_name_info"]');
		var salary_info=document.querySelector('[name="salary_info"]');
		var work_nature_info=document.querySelector('[name="work_nature_info"]');
		var is_post=true;
		apply_status_info.innerHTML='';
		profession_info.innerHTML='';
		work_place_info.innerHTML='';
		post_name_info.innerHTML='';
		salary_info.innerHTML='';
		work_nature_info.innerHTML='';
		if (!apply_status) {
			is_post=false;
			apply_status_info.innerHTML="请您选择求职状态";
		};
		if (!profession || profession.length>20) {
			is_post=false;
			profession_info.innerHTML="请您填写正确格式的从事行业";
		};
		if (!work_place || work_place.length>20) {
			is_post=false;
			work_place_info.innerHTML="请您填写正确格式的期望工作地点";
		};
		if (!post_name || post_name.length>20) {
			is_post=false;
			post_name_info.innerHTML="请您填写正确格式的期望职位 ";
		};
		if (!salary || salary.length>10) {
			is_post=false;
			salary_info.innerHTML="请您填写正确格式的期望薪资";
		};
		if (!work_nature) {
			is_post=false;
			work_nature_info.innerHTML="请您选择工作性质";
		};
		if (is_post){
			var formData=new FormData();
			formData.append('apply_status',apply_status.value);
			formData.append('profession',profession);
			formData.append('work_place',work_place);
			formData.append('post_name',post_name);
			formData.append('salary',salary);
			formData.append('work_nature',work_nature.value);
			$.ajax({
				type:'post',
				url:'{% url "SuperY:resume_hope_modify_ajax" user.id %}',
				data:formData,
				processData:false,
                contentType:false,
				success:function() {
						window.location.replace('{% url "SuperY:applicant_resume" user.id %}');
				}
			}) 
		}
	};
	</script>
{% endblock content %}