<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html>
<head>
	<meta charset="utf8">
	<title>求职者主页</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class='topNav'>
		<div class="topNav_c clearfix">
			<span>欢迎回来  {{applicant.name}}</span>
			<ul>
				<li>个人中心</li>
				<li>
					我的简历
					<dl>
						<dd>adaa</dd>
						<dd>bbsb</dd>
						<dd>ccfc</dd>
					</dl>
				</li>
				<li>注销</li>
			</ul>
		</div>
	</div>
	<div class="top indexTop">
		<div class="logoTell indexSearch">
			<a href="applicant_index.html">
				<img src="images/logo_blue.png">
			</a>
			<div class="tell search">
				<input type="text" name="search_word" placeholder="请您输入关键词，公司名/工作地点/职位信息，20个字符以内"><button>搜索</button>
			</div>
		</div>
	</div>
	<div class='indexContent'>
		<div class="C_model clearfix">
			<div class="model_left">
				<ul class='clearfix'>
					<li>
						<h4>技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公司</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
					<li>
						<h4>技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公司</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
					<li>
						<h4>技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公司</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
					<li>
						<h4>技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公司</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
					<li>
						<h4>技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公司</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
					<li>
						<h4>技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公司</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
					<li>
						<h4>技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公司</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
					<li>
						<h4>技术支持技术支持技术支持技术支持技术支持技术支持技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公司</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
					<li>
						<h4>技术支持</h4>
						<strong>合肥</strong>
						<strong>工作经验不限</strong>
						<strong>本科</strong>
						<p>金蝶软件（中国）有限公司合肥分公</p>
						<span>民营</span>
						<span>20~99人</span>
						<h4>10K~15K</h4>
					</li>
				</ul>
			</div>
			<div class="model_right">
				<div class="userInfo clearfix">
					<img src="images/photoshopImg.png" >
					<h2>Hi，<span>程汪洋</span></h2>
					欢迎回来，晚上好！
				</div>
				<ol class="clearfix">
					<li>
						<span>1</span>家
						<h4>企业看过</h4>
					</li>
					<li>
						<span>1</span>条
						<h4>企业反馈</h4>
					</li>
				</ol>
				<ul class="clearfix">
					<li>
						<img src="images/top_resume_hover.gif">
						<h4>我的简历</h4>
					</li>
					<li>
						<img src="images/refresh_resume_hover.png">
						<h4>刷新简历</h4>
					</li>
					<li>
						<img src="images/resume_hover.gif">
						<h4>升级简历</h4>
					</li>
				</ul>
				<dl class="hotNews">
					<dt>职场热点</dt>
					<dd>离职，是检验企业的最好标准</dd>
					<dd>选择做销售这个职业，你后悔了吗？</dd>
					<dd>新型雇佣关系</dd>
				</dl>
			</div>
			<!--{% for post in post_list %}-->
			<!--<div>{{post.post_name}}</div>-->
			<!--{% endfor %}-->
		</div>
	</div>
	<script src="{% static 'SuperY/js/jquery-3.2.1.min.js' %}"></script>
	<script>
	document.querySelector('[name="search_btn"]').onclick=function() {
		var search_word=document.querySelector('[name="search_word"]').value;
		var is_search=true;
		if (!search_word || search_word.length>20) {
			is_search=false;
			alert('请输入正确格式的关键词')
		}
		if (is_search) {
			$.ajax({
				type:'post',
				url:'{% url "SuperY:applicant_search_ajax" %}',
				data:{'search_word':search_word},
				success:function(data) {
					url=JSON.parse(data).url
					window.open(url)
				}
			})
		}
	};
	</script>
</body>
</html>