<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf8">
    <link rel="stylesheet" href="{% static 'SuperY/css/login.css' %}">
    <link rel="stylesheet" href="css/main.css">
	<title>登录</title>
</head>
<body>
    <div class="top">
		<div class="logoTell">
			<a href="applicant_index.html">
				<img src="images/logo_blue.png">
			</a>
			<div class="tell">电话：<span>138562286</span></div>
		</div>
	</div>
	<div class="center">
		<form class='login_form'>
            <input type='text' name="number" placeholder="手机号/邮箱" class='login_input'>
			<p></p>
		    <input name="passwd" placeholder="密码" type="password"  class='login_input'>
			<p></p>
		    <input type="radio" name="identity" value='applicant'>我要求职
		    <input type="radio" name="identity" value='company' class='bossRadio'>我是BOSS
		    <input type="reset"><br/>
			<button>登 录</button>
            <a href="{% url 'SuperY:register' %}">我要注册</a>
		</form>
    </div>
    <div class="bottom">我是底部</div>
	<div id="info" style='display:none;'>
		弹窗
	</div>
<script src="{% static 'SuperY/js/jquery-3.2.1.min.js' %}"></script>
<script>
	document.querySelector('[name="login"]').onclick=function (){
		var number=document.querySelector('[name="number"]').value;
		var passwd=document.querySelector('[name="passwd"]').value;
		var identity=document.querySelector('[name="identity"]:checked');
		var dom=document.getElementById('info');
		console.log(number,passwd,identity)
		if (!number) {
           dom.style.display = 'block';
        }
        if (!passwd) {
            alert('密码不能为空');
        }
        if (!identity){
        	alert('请选择身份');
        }
        $.ajax({
        	url:'{% url "SuperY:login_ajax" %}',
        	type:'post',
        	data:{'number':number,'passwd':passwd,'identity':identity.value},
        	success:function(data){
                console.log(data)
                data=JSON.parse(data)
        		if (data.error){
                    alert(data.error)
                }
                else {
                    window.location.replace(data.url)
                }
        	}
        })
	};

</script>
</body>
</html>