<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>合肥企业最新招聘信息</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="top">
    <div class="logoTell">
        <a href="applicant_index.html">
            <img src="images/logo_blue.png">
        </a>
        <div class="tell">电话：<span>138562286</span></div>
    </div>
</div>
<div id="listContent" class="contentpile__content">
    <div class="contentpile__content__wrapper clearfix">
        <div class="contentpile_c_w_item clearfix">
            <div class="nameBox">
                <div class="jobName">
                         <span class="contentpile_c_w_i_i_b_j_title">
                             <span style="color: #FF5959;"></span>
                             诚招网络销售+五险+客服派单
                         </span>
                    <span class="contentpile_c_w_i_i_b_j_sale" style="display: none;"></span> <!---->
                </div>
                <div class="contentpile_c_w_i_i_b_cname">
                    <a href="#" target="_blank">
                        安徽千界信息科技有限公司
                    </a>
                    <div class="job__comdec">
                        <span class="job__comdec__item">民营 |</span>
                        <span class="job__comdec__item">20-99人 </span>
                    </div>
                </div>
            </div>
            <div class="descBox">
                <div class="jobDesc">
                    <p>8K-15K</p>
                    <ul class="job__demand">
                        <li>合肥</li>
                        <li>经验不限</li>
                        <li>学历不限</li>
                    </ul>
                </div>
            </div>
            <div class="contentpile__content__wrapper__item__info__box itemBox">
                <div class="contentpile__content__wrapper__item__info__box__welfare job_welfare">
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item
                   contentpile__content__wrapper__eager-talents">求贤若渴
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        五险一金
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        年底双薪
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        定期体检
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        员工旅游
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        节日福利
                    </div>
                </div>
                <div class="jobBtn">申请职位</div>
            </div>
            <!--</a> -->
        </div>
        <div class="contentpile_c_w_item clearfix">
            <div class="nameBox">
                <div class="jobName">
                         <span class="contentpile_c_w_i_i_b_j_title">
                             <span style="color: #FF5959;"></span>
                             诚招网络销售+五险+客服派单
                         </span>
                    <span class="contentpile_c_w_i_i_b_j_sale" style="display: none;"></span> <!---->
                </div>
                <div class="contentpile_c_w_i_i_b_cname">
                    <a href="#" target="_blank">
                        安徽千界信息科技有限公司
                    </a>
                    <div class="job__comdec">
                        <span class="job__comdec__item">民营 |</span>
                        <span class="job__comdec__item">20-99人 </span>
                    </div>
                </div>
            </div>
            <div class="descBox">
                <div class="jobDesc">
                    <p>8K-15K</p>
                    <ul class="job__demand">
                        <li>合肥</li>
                        <li>经验不限</li>
                        <li>学历不限</li>
                    </ul>
                </div>
            </div>
            <div class="contentpile__content__wrapper__item__info__box itemBox">
                <div class="contentpile__content__wrapper__item__info__box__welfare job_welfare">
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item
                   contentpile__content__wrapper__eager-talents">求贤若渴
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        五险一金
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        年底双薪
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        定期体检
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        员工旅游
                    </div>
                    <div class="contentpile__content__wrapper__item__info__box__welfare__item">
                        节日福利
                    </div>
                </div>
                <div class="delBtn">删除职位</div>
                </div>
            </div>
            <!--</a> -->
        </div>
    <div class='pages'>
        <button>上页</button>
        <button>下页</button>
    </div>
</div>
<div class="bottom">我是底部</div>

</body>
</html>